

  @use "../../sass/colors" as color;
@use "../../sass/fonts" as fonts;

.message{
  margin-top: 1rem;
  background-color: color.$periwinkleSecundary;
  padding: 0.5rem;
  text-align: center;
  color: color.$cloudPrimary;
  border-radius: 1rem;
  font-family: fonts.$Afacada;
}