@use "../../sass/colors" as color;
@use "../../sass/fonts" as fonts;


.projectsPage{
  min-height: 100vh;

  .projectPageTitle{
    color: color.$navyPrimary;
    font-family: fonts.$Poppins;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem 2rem;
  }

  .newProjectButton{
    margin-left: 2rem;
  }

  .projectList{
    width: 90%;
    margin: auto;
  }
}