

@use "../../sass/colors" as color;
@use "../../sass/fonts" as fonts;


.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: color.$cloudPrimary;
}

.loaderIcon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
