@use "../../sass/colors" as color;
@use "../../sass/fonts" as fonts;


.projectsPage{
  min-height: 100vh;
  padding-bottom: 3rem;

  .projectPageTitle{
    color: color.$navyPrimary;
    font-family: fonts.$Poppins;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem 2rem;
  }

  .newProjectButton{
    margin-left: 2rem;
  }

  .messageContainer{
    width: 60%;
    margin-left: 2rem;
    @media(width >= 1200px){
      width: 30%;
    }
  }

  .projectList{
    width: 90%;
    margin: auto;
    @media(width >= 1200px){
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}